.container {
   background: url('/src/images/carro_1.png') 
   center center/cover no-repeat;
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.2);
   object-fit: contain;
   padding-bottom: 20%;
}

.rent {
  position:absolute;
  width: 80vw;
  top: 40vh;
  background-color: transparent;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 5.6rem;
  text-align: left;
  
  color: #FFFFFF;  
}

.HeroSectionText {
  position: absolute;
  width: 80vw;
  top: 60vh;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 2.6vw;
  line-height: 49px;
  background-color: transparent;
  text-align: left;
  flex-wrap: wrap;

  
  color: #F2EDED;
}

@media screen and (max-width: 768px) {
  .HeroSectionText {
    font-size: 3.2vh;
  }
}

@media screen and (max-width: 260px) {
  .rent {
    font-size: 35vw;
  }
}