.navbar {
  position: fixed;
  height: 64px;
  left: -0.79px;
  top: 0px;
  display: flex;
  width: 100vw;
  background: #e3743c;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.logoName {
  color: white;
  font-family: "Roboto";
  background-color: #e3743c;
  text-decoration: none;
  margin-top: -50px;
  margin-left: 127px;
  width: 100%;
  text-decoration: inherit;
}

.logo {
  width: 200px;
  height: 62px;
  background-color: #e3743c;
}


.navButton {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  color: white;
  background: #e3743c;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 10px;
  display: initial;
  visibility: visible;
}

.menuHamburguer {
  display: none;
}

.navButton:hover {
  color: rgb(243, 230, 213);
}

.logoName:hover {
  color: rgb(243, 230, 213);
}

.showButtonContainer {
  display: initial !important;
}

.FaBars {
  color: white;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .menuHamburguer {
    display: initial;
  }

  .navButtonContainer, .logoName {
    display: none;
  }

  .menuContainer .navButton{
    display: flex;
    height: 15px;
    background-color: #F0ECEC;
    color: #e3743c;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right:20px;
    padding-top:10px;
    opacity: 0.9;
  }
}