.carrouselContainer {
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

.carrousel {
  display: flex;
}

.leftArrow {
  width: 56px;
  height: 56px;
  position: absolute;
  margin-top: 15vh;
  margin-left: 6vw;
  z-index: 99;
}

.rightArrow {
  width: 56px;
  height: 56px;
  position: absolute;
  margin-top: 15vh;
  margin-left: 90%;
  z-index: 99;
  display: flex;
}

.cardContainer {
  width: 261px;
  height: 235px;
  background-color: rgba(230, 109, 48, 0.92);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  color: white;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin-bottom:2px;
  font-size: 20px;
  margin: auto;
}

.componentsContainer {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Roboto";
  justify-content: space-between;
  font-size: 10px;
  width: 100%;
  margin: auto;
}

.carCard {
  width: 190px;
  height: 125px;
}

.title {
  font-family: "Roboto";
  color: white;
  font-size: 11px;
  margin-bottom: 10px;
}

.price {
  background: rgba(0, 0, 0, 0.4);
  width: 95px;
  height: 22px;
  color: white;
  margin-left: 50%;
}

.velocity{
  text-align: center;
  width: 30%;
}

.icon3 {
  text-align: center;
}

.date {
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .leftArrow,
  .rightArrow {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .carrousel {
    overflow-x: scroll;
  }
  .carrousel::-webkit-scrollbar {
    width: 100%;
  }

  .carrousel::-webkit-scrollbar-thumb {
    background: #e66d30;
    border-radius: 50px;
  }
}
