.carrouselContainer{
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

.carrousel{
  display: flex;
}

.leftArrow{
  width: 56px;
  height: 56px;
  top:170%;
  position: absolute;
  left: 6.5vh;
}

.rightArrow{
  position: absolute;
  width: 56px;
  height: 56px;
  top:220%;
  right: 6.5vh;
}

