.carrouselContainer_Popular {
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

.carrousel {
  display: flex;
}

.leftArrow_Popular {
  width: 56px;
  height: 56px;
  position: absolute;
margin-top: 50px; 
margin-left: -3%;
  z-index: 99;
}

.rightArrow_Popular {
  width: 56px;
  height: 56px;
  position: absolute;
  margin-top: 50px;  margin-left: 80%;
  z-index: 99;
}

.cardContainer {
  height: 237px;
  background-color: rgba(230, 109, 48, 0.92);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  color: white;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin-bottom:2px;
  font-size: 20px;
  margin: auto;
}

.componentsContainer {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Roboto";
  justify-content: space-between;
  font-size: 10px;
  width: 100%;
  margin: auto;
}

.carCard {
  width: 190px;
  height: 125px;
}

.title {
  font-family: "Roboto";
  color: white;
  font-size: 11px;
  margin-bottom: 10px;
}

.price {
  background: rgba(0, 0, 0, 0.4);
  width: 95px;
  height: 22px;
  color: white;
  margin-left: 50%;
  text-align: center;
}

.velocity{
  text-align: center;
  width: 30%;
}

.icon3 {
  text-align: center;
}

.date {
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .carrousel {
    overflow-x: scroll;
  }
  .carrousel::-webkit-scrollbar {
    width: 100%;
  }

  .carrousel::-webkit-scrollbar-thumb {
    background: #e66d30;
    border-radius: 50px;
  }
}

@media screen and (max-width: 820px) {
  .leftArrow_Popular,
  .rightArrow_Popular {
    display: none;
  }
}
