.carrouselContainer_Popular {
  width: 80vw;
  overflow: hidden;
  margin: auto;
}

.carrousel {
  display: flex;
}

.leftArrow_Popular {
  width: 56px;
  height: 56px;
  position: absolute;
  margin-top: 8vh;
  margin-left: -3vh;
  z-index: 99;
}

.rightArrow_Popular {
  width: 56px;
  height: 56px;
  position: absolute;
  margin-top: 8vh;
  margin-left: 79%;
  z-index: 99;
}

@media screen and (max-width: 770px) {
  .carrousel {
    overflow-x: scroll;
  }
  .carrousel::-webkit-scrollbar {
    width: 100%;
  }

  .carrousel::-webkit-scrollbar-thumb {
    background: #e66d30;
    border-radius: 50px;
  }
}

@media screen and (max-width: 770px) {
  .leftArrow_Popular,
  .rightArrow_Popular {
    display: none;
  }
}
