.footer-container {
    background-color: #1A1A1A;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
}

.footer-text {
    background-color: transparent;
    color: white;
    text-align: center;
}