.buttonContainer_Brand {
    margin: auto;
    align-items: center;
    width: fit-content;
    display: flex;
    flex-direction: row;    
}

@media screen and (max-width: 1250px) {
    .buttonContainer_Brand {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 10%;

    }}
