.buttonContainer_Category {
    margin: auto;
    align-items: center;
    width: fit-content;
    display: flex;
    flex-direction: row;  
}

.searchCategory {
    margin: auto;
}

@media screen and (max-width: 768px) {
    .buttonContainer_Category {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 10%;

    }}
