.buttonContainer_Category {
    width: fit-content;
    margin: auto;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 768px) {
    .buttonContainer_Category {
        margin-left: 10%;
        flex-wrap: wrap;
        justify-content: space-around;

    }}
