* {
  background-color: #f4f4f4;
}

body {
  padding: 0;
  margin: 0;
}

h5 {
  width: 100%;
  text-align: center;
  font-weight: 37px;
  font-size: 32px;
  font-family: "Roboto";
}


button {
  border: transparent;
  width: 80px;
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 9vh;
}

button:hover {background-color: rgb(172, 171, 171)}

button:active {
  background-color: rgb(172, 171, 171);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
  transition: all 0.2s ease-in-out;
}





