
*{
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h5 {
  width: 100%;
  text-align: center;
  font-weight: 37px;
  font-size: 32px;
  font-family: "Roboto";
}





